<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
     <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

       <!-- Bootstraps Java Scipts Links -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


     <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

     <link rel="stylesheet" href="{{ url_for('static',filename='css/formcheck.css') }}">

     <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

     <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




</head>
<body>
{% block content %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">项目名称</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
<!--                <li><a href="#">Dashboard</a></li>-->
                <li><a href="#">设置</a></li>
                <li><a href="{{ url_for('profile') }}">个人主页</a></li>
                <li><a href="{{ url_for('logout') }}">退出登录</a></li>
              </ul>
<!--              <form class="navbar-form navbar-right">-->
<!--                <input type="text" class="form-control" placeholder="Search...">-->
<!--              </form>-->
            </div>
          </div>
    </nav>

<!--<h1 class="text-center">cifar10预测结果显示</h1>-->



   <div class="row" style="padding-top: 80px;">
       <div class="col-md-4 offset-md-0" style="padding-top: 100px;">
           <div class="card">

              <div class="card-body">

                <canvas id="myChart"></canvas>
              </div>
           </div>

        </div>




       <div class="col-md-8">

           {% if name2 == 0 %}

            <form id="form" role="form" action="{{ url_for('labelcifar10',workidofuser=name) }}" enctype='multipart/form-data' method='POST' >

                <div class="container" style="width:820px">
                    {% for data in index_list %}

                <div class="col-sm-6 col-md-3">
                        <a class="thumbnail">
                            <img src="{{ data[0] }}" alt="通用的占位符缩略图" width="300" height="230">


                             <div class="caption" >
                                <div class="form-group">

                                    <input id="label" type="text" name="label" list="mylist1" style="margin-top:11.25px; width: 140px;">

                                          <datalist id="mylist1">
                                              <option value="airplane"></option>
                                              <option value="automobile"></option>
                                              <option value="bird"></option>
                                              <option value="cat"></option>
                                              <option value="deer"></option>
                                              <option value="dog"></option>
                                              <option value="frog"></option>
                                              <option value="horse"></option>
                                              <option value="ship"></option>
                                              <option value="truck"></option>
                                          </datalist>
                                    <small>Error message</small>
                                </div>
                             </div>
                        </a>


                 </div>
                  {% endfor %}
                </div>

                   <input type="submit" value="提交" class="btn btn-primary" style="margin-top:20px;float:right;margin-right:40px;" >


            </form>

           {% endif %}
           {% if name2 == 1 %}


            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary " data-toggle="modal"  data-target="#myModal ">恭喜完成任务，快去记录表查看任务奖励吧！</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">提醒</h4>
                        </div>
                        <div class="modal-body">恭喜完成任务，快去记录表查看任务奖励吧！</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <form method="POST"   class="col-md-1">
                                  <input type="submit"  value="确认" class="btn btn-primary btn-sm"  formaction="{{ url_for('record') }}"><br/>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

           {% endif %}




       </div>


   </div>


 <center><nav aria-label="Page navigation" >
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
 </nav></center>
{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>




     <script src="{{ url_for('static',filename='js/charts.js') }}"></script>
     <script src="{{ url_for('static',filename='js/formcheck.js') }}"></script>


</body>
</html>